environment: production
environmentCode:
name: ffc-pay-dps
namespace: ffc-pay
workstream: ffc-pay
image: ffc-pay-dps

labels:
  component: service

appInsights:
  connectionString:

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

containerConfigMap:
  name: ffc-pay-dps-config-map

containerSecret:
  name: ffc-pay-dps-container-secret
  type: Opaque

deployment: {}

container:
  requestMemory: 100Mi
  requestCpu: 100m
  limitMemory: 100Mi
  limitCpu: 100m
  azureStorageAccountName: ffcpay
  azureStorageConnectionString: dummy
  azureStorageUseConnectionString: false
  azureStorageCreateContainers: false
  storageContainer: dps
  storageFolder: inbound
  storageDaxContainer: dax
  storageDaxFolder: outbound
  eventsTopicAddress: ffc-pay-events
  useV2Events: true
  
postgresService:
  postgresDb: ffc_pay_dps
  postgresqlHost: ffc-pay-dps-postgres
  postgresPort: 5432
  postgresSchema: public
  postgresUser: postgres

aadPodIdentity: true
